
<div class="row user-mainbody">
    <div class="col-sm-4" ng-repeat="user in onusers">
        <div class=" user-body" ng-click="goeach()">
            <div class="user-photo">
                <img src="./assets/img/environment/clever.png" alt="">
            </div>
            <div class="user-hover">
                <div class="user-hover-name">
                    <span>Name</span>
                    <span>37</span>
                    <i class="fa fa-circle online"></i>
                </div><br>
                <span class="user-hover-location">Location</span>
            </div>
            <div class="user-verified"></div>
        </div>        
    </div>
</div>