<div class="row">
    <div class="col-sm-11 footer-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <h4>Flickr Photos</h4>
        <div class="footer-box-text flickr-feed">
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(1).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(2).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(3).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(4).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(5).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(6).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(7).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(8).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(9).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(10).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(11).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>
            <a href="" target="_blank" rel="nofollow" ng-click="gocarousel()"><img src="./assets/img/photos/slider/slider(12).jpg" alt="Halloween 2014 at Envato in Melbourne"></a>            
        </div>
    </div>
</div>
