h2#profile{
	color: #54657e;
    font-size: 23px;
    position: absolute;
    left: 69px;
    top: 15px;
}
#profile_letter {
	color: #8f9db1;
    font-size: 12px;
    position: absolute;
    left: 78px;
    top: 36px;
}
h2#rate{
	color: #54657e;
    font-size: 23px;
    position: absolute;
    left: 36px;
    top: 15px;
}
#rate_letter {
	color: #8f9db1;
	font-size:12px;
	position: absolute;
    left: 41px;
    top: 50px;
}

#gauge_needle{
    position: absolute;
    width: 17px;
    top: 38px;
    left: 46%;
    -webkit-transition: all 1s ease-out; 
    -moz-transition: all 1s ease-out; 
    -o-transition: all 1s ease-out; 
    transition: all 1s ease-out;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
    /*-webkit-animation: rotateinfinite 10s infinite linear;*/
    /*-moz-animation: rotateinfinite 10s infinite linear;*/
    /*-ms-animation: rotateinfinite 10s infinite linear;*/
}

@-webkit-keyframes rotateinfinite {
    0%      { -webkit-transform: rotate(-90deg); }
    50%    { -webkit-transform: rotate(90deg); }
    100%    { -webkit-transform: rotate(-90deg); }
}

@-moz-keyframes rotateinfinite {
    0%      { -moz-transform: rotate(-90deg); }
    50%      { -moz-transform: rotate(90deg); }
    100%    { -moz-transform: rotate(-90deg); }
}

@-ms-keyframes rotateinfinite {
    0%      { -ms-transform: rotate(-90deg); }
    50%      { -ms-transform: rotate(90deg); }
    100%    { -ms-transform: rotate(-90deg); }
}
.gauge1{
    margin-top: 10%;
    position: relative;
   
}
.gauge1>span{
    position: absolute;
    top: 74px;
    left: 82px;
    font-size: 15px;
}
.gauge2{
    margin-top: 20%;
    position: relative;
}
.gauge3{
    margin-top: 20%;
    position: relative;   
}