@charset "utf-8";
html {
    color: #000;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input,
textarea,
select {
    *font-size: 100%;
}
legend {
    color: #000;
}
* html body * {
    overflow: visible;
}
* html iframe,
* html frame {
    overflow: auto;
}
* html frameset {
    overflow: hidden;
}
html {
    height: 100%;
    margin-bottom: 1px;
}
body {
    display: block;
    text-align: left;
}
input,
textarea,
select {
    *font-size: 100%;
}
legend {
    color: #000;
}
#page,
#header,
#navigation,
#content,
#footer {
    clear: both;
}
html * {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
textarea,
pre,
tt,
code {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: 75%;
}
html>body {
    font-size: 12px;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #000;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 24px;
    font-size: 2.4em;
    line-height: 1;
    margin-bottom: .3em;
    font-weight: bold;
}
h2 {
    font-size: 20px;
    font-size: 1.4em;
    line-height: .95;
    margin-bottom: .75em;
}
h3 {
    font-size: 18px;
    font-size: 1.4em;
    line-height: 1;
    margin-bottom: .75em;
}
h4 {
    font-size: 16px;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: .5em;
}
h5 {
    font-size: 16px;
    font-size: 1em;
    line-height: 1.25;
    margin-bottom: .2em;
}
h6 {
    font-size: 16px;
    font-size: 1em;
    font-style: italic;
}
h1,
h1 a {
    font-family: "Myriad Pro", "Myriad Set", "Myriad Apple", Myriad, Helvetica Nueue, Arial, Verdana, Sans-serif!important;
    letter-spacing: -1px;
    text-decoration: none;
    color: #000;
}
h3 a {
    color: #000;
    text-decoration: none;
}
h3 a:hover {
    text-decoration: none;
}
.box-body h3 a {
    border: none;
}
.yui-t6>.yui-b h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
    border-bottom: 3px solid #E3E3E3;
    padding: 15px 0 3px;
    margin-bottom: .3em;
}
.yui-t6>.yui-b h3:first-child {
    padding-top: 0;
}
.yui-t6>.yui-b h3 a:hover {
    color: #CC0f16;
}
p+h3,
ul+h3,
ol+h3,
dt+h3,
.vevent div>h2,
.vcard div>h2 {
    margin-top: 1.2em;
}
code,
pre,
.code {
    background-color: #FFD!important;
    border: 1px solid #CCC!important;
    border-left-width: 5px!important;
    font: 1em/1.5 Monaco, Consolas, "Courier News", monospace!important;
    padding: 10px 15px!important;
}
img {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}
.listCircle {
    list-style: circle;
    margin-left: 20px;
}
.listCircle li {
    margin-bottom: 5px;
}
.ulCircle {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 20px!important;
}
.ulCircle li {
    list-style-type: circle;
    list-style-position: outside;
}
.ulDisc {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px!important;
}
cite,
blockquote {
    font-style: normal;
}
blockquote {
    margin: 0 0 1em 1.5em;
}
strong,
b {
    font-weight: bold;
}
em,
i {
    font-style: italic;
}
pre,
code {
    font-family: monospace;
    font-size: 1.1em;
}
.red-text {
    color: #CC0F16!important;
}
.textarea {
    background: #F9F9F9 none repeat scroll 0 0;
    border: 1px solid #E0E0E0;
    padding: 3px;
}
.input {
    background: #F9F9F9;
    border: 1px solid #E0E0E0;
    margin: 2px;
    padding: 0 3px;
}
.note {
    background: #dfd;
    padding: 1em;
    border-top: 1px #bdb dotted;
    border-bottom: 1px #bdb dotted;
}
.important {
    background: #ffd;
    padding: 1em;
    border-top: 1px #ddb dotted;
    border-bottom: 1px #ddb dotted;
}
.warning {
    background: #fdd;
    padding: 1em;
    border-top: 1px #dbb dotted;
    border-bottom: 1px #dbb dotted;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.floatLeft,
.float-l {
    float: left;
}
.floatRight,
.float-r {
    float: right;
}
.hidden {
    display: none!important;
}
.mt {
    margin-top: 5px!important;
}
.mr {
    margin-right: 5px;
}
.ml {
    margin-left: 5px;
}
.mb {
    margin-bottom: 5px;
}
.p-inner {
    padding: 5px!important;
}
.pn {
    padding: 0!important;
}
.pr-small {
    padding-right: 25px!important;
}
.mn {
    margin: 0!important;
}
.hide {
    display: none!important;
}
.show {
    display: block;
}
.inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}
.d-block {
    display: block;
}
.pa {
    position: absolute;
}
.pr {
    position: relative;
}
.border-no {
    border: none!important;
}
.font-small {
    font-size: 10px;
}
.font-normal {
    font-size: 12px;
}
.font-big {
    font-size: 14px;
}
.h3-nop>h3 {
    padding-top: 0!important;
}
.pa-tr {
    position: absolute!important;
    top: 0;
    right: 0;
}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 25px solid #cc0f16;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #cc0f16;
    border-left: 25px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
a:focus,
a:visited,
a:hover,
a:active {
    cursor: pointer;
    outline: none;
    outline-style: none;
}
a:hover {
    text-decoration: underline;
}
table {
    border-collapse: collapse;
}
table.full {
    width: 100%;
}
table.fixed {
    table-layout: fixed;
}
.dottedline {
    margin: 0;
    padding: 0;
    height: 10px;
    clear: both;
    background: url(/images/default/bg_dotted.gif) repeat-x center;
}
.line {
    margin: 5px 0;
    padding: 0;
    height: 1px;
    clear: both;
    background: #e3e3e3;
    display: block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.clearfix {
    display: block;
}
.clearfix {
    *display: inline-block;
    _height: 1%;
}
.floatbox {
    overflow: hidden;
}
#ie_clearing {
    display: none;
}
.clearfloat:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfloat {
    display: inline-block;
}
html[xmlns] .clearfloat {
    display: block;
}
* html .clearfloat {
    height: 1%;
}
.clearme {
    clear: both;
    float: none;
    height: 0;
    width: 0;
}
.skip,
.hideme,
.print {
    position: absolute;
    top: -1000em;
    left: -1000em;
    height: 1px;
    width: 1px;
}
.skip:focus,
.skip:active {
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
}
.opacity {
    -moz-opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: .8;
}
.icon-op {
    -moz-opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 1;
}
.icon-op:hover {
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.box_radius {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    behavior: url(border-radius.htc);
}
.box_radius_bottom {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    behavior: url(border-radius.htc);
}
.box_radius_bottom_big {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    behavior: url(border-radius.htc);
}
.box_shadow {
    -moz-box-shadow: 2px 2px 3px #969696;
    -webkit-box-shadow: 2px 2px 3px #969696;
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=3);
}
h1>strong {
    color: #900;
}
p.lead {
    font-size: 21px;
    font-weight: 200;
    line-height: 27px;
    padding-bottom: 2em;
}