<a href="" data-toggle="modal" data-target="#profilesettingModal">Profile Setting</a>
<!-- profile setting -->
<div class="modal fade" id="profilesettingModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="col-sm-7">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse1" data-toggle="collapse">Menu1
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="pset-left-body">
                                <span class="">Name</span>
                                <br>
                                <span>Birthday</span>
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <br>
                                <span class="">Gender</span>
                            </div>
                            <div class="pset-right-body">
                                <input type="text" name="" value="" class="">
                                <select class="form-control pset-m1-se" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                                <select class="form-control pset-m1-se" id="sel1">
                                    <option>September</option>
                                    <option>Octover</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                                <select class="form-control pset-m1-se" id="sel1">
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                </select>
                                <div class="pset-btn1"><i class="fa fa-male"></i>button1</div>
                                <div class="pset-btn2"><i class="fa fa-male"></i>button2</div>
                                <div class="pset-btn">button1</div>
                                <div class="pset-btn">button2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse2" data-toggle="collapse">Menu2
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="pset-left-body">
                                <span class="">Main Address</span>
                                <span class="">Main Address1</span>
                                <span class="">Main Address2</span>
                            </div>
                            <div class="pset-right-body">
                                <input type="text" class=""><span ng-if="">condition1</span>
                                <input type="text" class=""><span ng-if="">condition2</span>
                                <input type="text" class=""><span ng-if="">condition3</span>
                            </div>
                            <div class="pset-veryfi"><span>Profile Verification</span></div>
                            <div class="pset-left-body">
                                <div class="pset-m2">
                                    <span class="">SMS</span><span class="glyphicon glyphicon-question-sign"></span>    
                                </div>
                                <div class="pset-m2">
                                    <span class="">EMail</span><span class="glyphicon glyphicon-question-sign"></span>    
                                </div>
                            </div>
                            <div class="pset-right-body">
                                <div class="pset-m2-cell">
                                    <span>SMS verification give 200 free credits</span>
                                    <div class="pset-m2-cell-cel">
                                        <input type="text" class="">
                                        <div class="pset-m2-btn">button</div>
                                    </div>
                                    <div class="pset-m2-cell-cel">
                                        <input type="text" class="">
                                        <div class="pset-m2-btn">button</div>
                                    </div>
                                </div>
                                <div class="pset-m2-cell">
                                    <span>SMS verification give 200 free credits</span>
                                    <div class="pset-m2-cell-cel">
                                        <input type="text" class="">
                                        <div class="pset-m2-btn">button</div>
                                    </div>
                                    <div class="pset-m2-cell-cel">
                                        <input type="text" class="">
                                        <div class="pset-m2-btn">button</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse3" data-toggle="collapse">Menu3
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="pset-m3-body" ng-repeat="friend in friends">
                                <div class="m3-img">
                                    <img src="./assets/img/female.png" alt="" class="img-circle">
                                    <div class="m3-cat"></div>
                                </div>
                                <div class="m3-title">
                                    <span class="">Name</span>
                                    <span class="">category</span>
                                </div>
                                <div class="m3-btn">
                                    <div class=""><span class="">Invitation</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse4" data-toggle="collapse">Menu4
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mail</th>
                                            <th>Browser</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="table in tables">
                                            <td><span>Name</span></td>
                                            <td><div class="m4-mail"></div></td>
                                            <td><div class="m4-browser"></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pset-m4-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse5" data-toggle="collapse">Menu5
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="">This is long comments. It is very very long and spent so many time</span>
                            <div class="m5-cell" ng-repeat="m5 in m5menus">
                                <span class="">first option</span>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optradio"></label>
                                </div>
                            </div>
                            <div class="pset-m4-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse6" data-toggle="collapse">Menu6
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="m6-cell" ng-repeat="m6 in m6menus">
                                <span class="">this is first</span>
                                <div class="radio cell1">
                                    <label>
                                        <input type="radio" name="optradio">Option 1</label>
                                </div>
                                <div class="radio cell2">
                                    <label>
                                        <input type="radio" name="optradio"> Option 2</label>
                                </div>
                            </div>
                            
                            <div class="pset-m4-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse7" data-toggle="collapse">Menu7
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="m6-cell" ng-repeat="m7 in m7menus">
                                <span class="">this is first</span>
                                <div class="radio cell1">
                                    <label>
                                        <input type="radio" name="optradio">Option 1</label>
                                </div>
                                <div class="radio cell2">
                                    <label>
                                        <input type="radio" name="optradio"> Option 2</label>
                                </div>
                            </div>
                            <div class="m7-super"><div class="m7-g"></div>This is SuperPower</div>
                            <div class="pset-m7-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse8" data-toggle="collapse">Menu8
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="m8-body">
                                <span class="">Other</span>
                                <select class="form-control" id="sel1">
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                </select>
                            </div>
                            <div class="pset-m4-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse9" data-toggle="collapse">Menu9
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="m9-1">
                                <span class="">select man</span>
                            </div>
                            <div class="m9-2">
                                <div class="m9-2-0" ng-repeat="m9 in m9s">
                                    <div class="m9-2-1">
                                        <img src="./assets/img/female.png" alt="" class="img-circle">
                                    </div>
                                    <div class="m9-2-2">
                                        <span class="">Name</span>
                                    </div>
                                    <div class="m9-2-3">
                                        <input type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="pset-m4-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse10" data-toggle="collapse">Menu10
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="m10-1">this is comments</span>
                            <div class="m10-2">
                                <span class="">this </span>
                                <input type="checkbox" value="">
                            </div>
                            <div class="m10-3">
                                <span class="">this </span>
                                <input type="checkbox" value="">
                            </div>
                            <div class="pset-m4-btn-body">
                                <div class="pset-m4-btn">button</div>
                                <div class="pset-m4-btn">button</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="set-head" data-parent="#accordion" href="_self#pcollapse11" data-toggle="collapse">Menu11
                        <div class="set-head-ico">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>
                    <div id="pcollapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="m11-1">
                                <span class="m11-1-1">first</span>
                                <span class="m11-1-2">first</span>
                            </div>
                            <div class="m11-2">
                                <span class="m11-2-1">first</span>
                                <span class="m11-2-2">first</span>
                            </div>
                            <div class="m11-3">
                                <span>button</span>
                            </div>
                            <div class="m11-4">
                                <span class="m11-4-1">first</span>
                                <span class="m11-4-2">first</span>
                            </div>
                            <div class="m11-5">
                                <span>button</span>
                            </div>
                            <div class="m11-5-1"></div>
                            <div class="m11-6">
                                <span class="m11-6-1">this</span><span class="glyphicon glyphicon-question-sign"></span>
                            </div>
                            <div class="m11-7">
                                <span class="">this is </span>
                            </div>
                            <div class=""></div>
                            <div class=""></div>
                            <div class=""></div>
                            <div class="">
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gift modal -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="gmodal-body">
                <div class="gmodal-header">
                    <div class="gmodal-user">
                        <div class="gmodal-photo">
                            <img src="./assets/img/clever.png" alt="" class="img-circle">
                            <div class="gmodal-gift"></div>
                        </div>
                        <div class="gmodal-title">
                            <span>Jetzt Aktivieren!</span>
                        </div>
                        <span>Super Power aktivieren</span>
                    </div>
                </div>
                <div class="gmodal-female-body">
                    <div class="gmodal-female">
                        <div class="female-back">
                            <div class="gmodal-woman">
                                <img src="./assets/img/female.png" alt="">
                            </div>
                            <div class="each-love">
                              <span class="glyphicon glyphicon-heart"></span>
                            </div>
                            <div class="each-del">
                              <span class="glyphicon glyphicon-remove"></span>
                            </div>
                            <i class="fa fa-circle online"></i>
                            <div class="female-heart">
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>
                        <div class="female-com">
                            <span>Sehe sofort<br>welchen Frauen Du gefallst</span>
                        </div>
                    </div>
                    <div class="gmodal-female">
                        <div class="female-back">
                            <div class="gmodal-woman">
                                <img src="./assets/img/female2.png" alt="">
                            </div>
                            <div class="each-love">
                              <span class="glyphicon glyphicon-heart"></span>
                            </div>
                            <div class="each-del">
                              <span class="glyphicon glyphicon-remove"></span>
                            </div>
                            <i class="fa fa-circle online"></i>
                            <div class="female-heart">
                                <span class="glyphicon glyphicon-star"></span>
                            </div>                            
                        </div>
                        <div class="female-com">
                            <span>Sehe sofort<br>welchen Frauen Du gefallst</span>
                        </div>
                    </div>
                </div>
                <div class="gmodal-footer">
                    <div class="gmodal-chat"></div>
                    <div class="border-right1">
                    <span>This is message comments. We can message with people free</span>
                    </div>
                </div>
                <div class="gmodal-footer">
                    <div class="gmodal-new"></div>
                    <div class="border-right1">
                    <span>This is message comments. We can message with people free</span>
                    </div>
                </div>
                <div class="gmodal-footer">
                    <div class="gmodal-pro"></div>
                    <div class="">
                    <span>This is message comments. We can message with people free</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>
